@use '@angular/material' as mat;

@include mat.core();

// Definir as paletas de cores
$wisetruck-primary: mat.define-palette(mat.$indigo-palette, 600);
$wisetruck-accent: mat.define-palette(mat.$blue-palette, 500);
$wisetruck-warn: mat.define-palette(mat.$red-palette);

// Criar o tema light padrão
$wisetruck-theme: mat.define-light-theme((
  color: (
    primary: $wisetruck-primary,
    accent: $wisetruck-accent,
    warn: $wisetruck-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Aplicar o tema a todos os componentes
@include mat.all-component-themes($wisetruck-theme); 